<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        Header Set Access-Control-Allow-Origin "https://mind-three.vercel.app"
        Header Set Access-Control-Allow-Origin "https://megacities.world"
    </IfModule>
  </IfModule>
  